@import "vars";

.logos {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__logo {
		height: 35px;

		@media screen and (max-width: 770px) {
			height: 30px;
		}

		@media screen and (max-width: 680px) {
			padding: 0 10px;
		}
	}
}
