@import "vars";

.needs {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media screen and (max-width: 1000px) {
		flex-direction: column;
	}
 
	&__image {
		max-width: 550px;

		@media screen and (max-width: 1300px) {
			margin-left: -50px !important;
		}

		@media screen and (max-width: 1000px) {
			display: none;
		}
	}

	&__content {
		max-width: 50%;
		min-width: 500px;

		@media screen and (max-width: 1000px) {
			max-width: 100%;
			min-width: unset;
		}
	}

	&__title {
		margin-top: 50px;
		
		@include font-size-30px;
		font-weight: bold;	
	}

	&__sign {
		margin-top: 20px;

		@include font-size-16px;
		color: $color-grey-666;
	}

	&__cards {
		margin-top: 40px;
		margin-left: -30px;
	}
}
